{% extends 'base.html' %}
{% load static %} 
{% block title %}
    Courses
{% endblock %}

{% block content %}
<style>
    body{
        background: linear-gradient(111.1deg, rgb(0, 40, 70) -4.8%, rgb(255, 115, 115) 82.7%, rgb(255, 175, 123) 97.2%);
    }
</style>
{% endblock %}

{% block featured %}
<div class="card mb-3">
    <img src="{% static 'spanish.jpg' %}" class="card-img-top" alt="image" height="350px">
    <div class="card-body">
      <h5 class="card-title">Spanish Course (FEATURED COURSE)</h5>
      <p class="card-text">This is spanish course for beginners and any newbie can enroll for thi course.</p>
      <button type="button" class="btn btn-outline-dark">Enroll Now</button>
    </div>
  </div>
{% endblock %}

{% block gridcard %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="{% static 'japanese.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Japanese Course</h5>
          <p class="card-text">Japanese Course for beginners.</p>
          <button type="button" class="btn btn-outline-dark">Enroll Now</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'french.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">French Course</h5>
          <p class="card-text">French Speaking course for beginners.</p>
          <button type="button" class="btn btn-outline-dark">Enroll Now</button>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}